* {
	margin: 0;
	padding: 0;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
    border-bottom: 2px solid #666;
    border-top: 2px solid #666;
}

.header-txt {
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 40px;
	margin-top: 23%;
	margin-left: 20%;
	margin-right: 20%;
	text-transform: uppercase;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1.3px #fff;

}

@media screen and (max-width: 480px) {
	.header-txt {
		font-weight: bold;
		font-family: "Arial", sans-serif;
		font-size: 28px;
		margin-top: 48%;
		margin-left: 10%;
		margin-right: 10%;
		text-transform: uppercase;
		text-align: center;
		color: rgba(0, 0, 0, 0.7);
		-webkit-text-stroke: 1.3px #fff;

	}
}